.privacy {
  padding: 100px 20px;
}
  .privacy__title {
    color: #FC6F41;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .privacy__subtitle {
    color: #313131;
    font-size: 18px;
    font-weight: normal;
    font-family: 'helvetica';
  }
  .privacy p {
    color: #FC6F41;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 16px;
  }
