.terms {
  padding: 100px 20px;
}
  .terms__title {
    color: #FC6F41;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .terms__subtitle {
    color: #313131;
    font-size: 18px;
    font-weight: normal;
    font-family: 'helvetica';
  }
  .terms p {
    color: #FC6F41;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
  }
